.navbar{
    overflow: visible;
    position: fixed;
}
nav .wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: var(--nav-color);
    padding: 0.4rem 14%;
    width: 100%;
}
nav .wraper .right,
nav .wraper .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    
}
nav .wraper .right{
    gap: 2rem;
}
nav .wraper .logo i{
    font-size: 3rem;
    color: #0A66C2;
    cursor: pointer;
}
nav .wraper .input{
    background: var(--search-color);
    padding: 0.4rem 0.9rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.2rem;
}
nav .wraper .input input[type='search']{
    border: none;
    width: 16rem;
    background: transparent;
    height: 100%;
    transition: 0.5s;
    
}
nav .wraper .input input:focus {
    outline:none;
}
nav .wraper .input i{
    font-size: 1.5rem;
    color: grey;
}
nav .wraper .right .home,.network,.jobs,.message,.me,.notification,
.jobpost, .work, .jobpost{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(107, 99, 99);
    cursor: pointer;
    /* font-family: Poppins; */

}
.right .home, .network, .jobs, .message, .me, .notification,
.jobpost, .jobpost, .work, span{
    font-size: 0.7rem;
}
nav .wraper .right .home{
    color: black;
    border-bottom:1px solid black;
}

nav .wraper .right .home span i ,
nav .wraper .right .notification span i ,
nav .wraper .right .network span i ,
nav .wraper .right .jobs span i ,
nav .wraper .right .message span i ,
nav .wraper .right .me span i ,
nav .wraper .right .work span i ,
nav .wraper .right .jobpost span i
{
    font-size: 1.6rem;
    opacity: 0.8;
}

nav .wraper .right .home:hover ,
nav .wraper .right .notification:hover ,
nav .wraper .right .network:hover ,
nav .wraper .right .jobs:hover ,
nav .wraper .right .message:hover ,
nav .wraper .right .me:hover ,
nav .wraper .right .work:hover ,
nav .wraper .right .jobpost:hover{
    color: black;
}
nav .wraper .right .me a i ,
nav .wraper .right .work a i{
    font-size: 1rem;
}
nav .wraper .right .me a,
nav .wraper .right .work a{
    text-decoration: none;
    color: rgb(107, 99, 99) ;
}
nav .wraper .right .me a:hover ,
nav .wraper .right .work a:hover{
    color: black;
}

nav .wraper .right .me img{
    height: 1.6rem ;
    border-radius: 50%;
}
.right .vl{
    height: 3rem;
    background-color: rgb(135, 131, 131);
    width: 0.9px;
}